<%- include('../partials/header', {title:"Order Fulfillment"}) -%>

<h1>Most Popular Dishes</h1>
<table>
  <tr>
    <th>Dish Name</th>
    <th>Orders / Times Served</th>
  </tr>

  <tr>
    <td><%=JSON.stringify(topMeals)%></td>
    <td></td>
  </tr>

</table>
