<nav id="navbar" class="navbar">
  <ul>
    <li><a class="nav-link scrollto active" href="/createProfile">Home</a></li>
    <li><a class="nav-link scrollto" href="/orderingPage">Order</a></li>
    <li><a class="nav-link scrollto" href="/consumerStats">Profile</a></li>
    <li><a class="nav-link scrollto" href="/dayBreakdown">Log In</a></li>


  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
