<%- include('partials/header', {title:"P, R, S: High Scores"}) -%>

<body>


  <!-- ======= Hero Section ======= -->
  <section id="hero">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
      <p>This is Emmett and Bereket's project for Computer Science Class</p>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>

    <div class="product-screens">

      <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
        <img src="views/public/img/product-screen-1.png" alt="">
      </div>

<<<<<<< Updated upstream
  <!-- =======================================================
  * Template Name: Avilon - v4.9.0
  * Template URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <h2> Welcome to Lunch Line, Bereket and Emmett's Q3 Project</h2>
=======
      <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
        <img src="views/public/img/product-screen-2.png" alt="">
      </div>

      <div class="product-screen-3" data-aos="fade-up">
        <img src="views/public/img/product-screen-3.png" alt="">
      </div>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section id="Order" class="section-bg">

    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>Order For The Week</h1>
          <ol>
            <li><a href="profile.html">Profile</a></li>
            <li>Order</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">

        <h1>OSCAR IS HAVING SO MUCH FUN</h1>

        <table>
          <tr>
            <th>In</th>
            <th>Out</th>
          </tr>
          </table>

        <table>
          <tr>
            <th>Food</th>
            <th>Select</th>
            <th>Favorite</th>
          </tr>
          <tr>
            <td>Protein</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Starch</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Vegetable</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pasta</td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <h1>Tuesday</h1>

        <table>
          <tr>
            <th>In</th>
            <th>Out</th>
          </tr>
          </table>

        <table>
          <tr>
            <th>Food</th>
            <th>Select</th>
            <th>Favorite</th>
          </tr>
          <tr>
            <td>Protein</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Starch</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Vegetable</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pasta</td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <h1>Wednesday</h1>

        <table>
          <tr>
            <th>In</th>
            <th>Out</th>
          </tr>
          </table>

        <table>
          <tr>
            <th>Food</th>
            <th>Select</th>
            <th>Favorite</th>
          </tr>
          <tr>
            <td>Protein</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Starch</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Vegetable</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pasta</td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <h1>Thursday</h1>

        <table>
          <tr>
            <th>In</th>
            <th>Out</th>
          </tr>
          </table>

        <table>
          <tr>
            <th>Food</th>
            <th>Select</th>
            <th>Favorite</th>
          </tr>
          <tr>
            <td>Protein</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Starch</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Vegetable</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pasta</td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <h1>Friday</h1>

        <table>
          <tr>
            <th>In</th>
            <th>Out</th>
          </tr>
          </table>

        <table>
          <tr>
            <th>Food</th>
            <th>Select</th>
            <th>Favorite</th>
          </tr>
          <tr>
            <td>Protein</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Starch</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Vegetable</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pasta</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </section>

  </main><!-- End #main -->


    <!-- ======= About Section ======= -->
    <section id="about" class="section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">About Us</h3>
          <span class="section-divider"></span>
          <p class="section-description">
This website is for the use of students/teachers, staff and admin to gain information of the lunch of the day.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
            <img src="public/img/about-img.jpg" alt="">
          </div>
          <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
            <ul>
              <li><i class="bi bi-check-circle"></i> General information</li>
              <li><i class="bi bi-check-circle"></i> Ordering</li>
              <li><i class="bi bi-check-circle"></i> attendance</li>
            </ul>

            <p>
                Please let us any thing that could be helpful to change in creating a better model.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



</body>

<%- include('partials/footer') -%>
>>>>>>> Stashed changes
