<!DOCTYPE html>
<html lang="en">
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-2">Liber Gradi.</h1>
                <p3 class="lead text-white-50 mb-4">Welcome to our gradebook, Liber Gradi. Our project has multifaceted utility, with tools to help both teachers and students stay organized in everything academic. Fostering connection between student and teacher through the transparency of assessment scores and class rank, Liber Gradi aims to create a more open academic space. Students and teachers alike can record grades, review all scores/grades for a given assessment/class, and track the progression of individual students througn personalized profile pages. Teachers have extra mobility through the Class Creation system, helping them organize students across all their classes. Enjoy! </p3>
                <h2 class="lead text-white-50 mb-4">Start your journey with Liber Gradi above!</h2>
                <p3 class="lead text-white-50 mb-4">Created By Bereket Barkley and Emmett Chen</p3>

                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                </div>
            </div>
          </div>
        </div>
      </div>
    </header>
</html>
