<%- include('../partials/header', {title:"Order Fulfillment"}) -%>

<h1>Create a New Consumer Profile</h1>


<form action="/createProfile" method="POST">
  <label for="name">Full Name:</label>
  <input type="text" id="name" name="name" value=""><br>
  <label for="name">Grade (if applicable):</label>
  <input type="text" id="grade" name="grade" value=""><br>

  <br><br>
  <input type="submit" value="Create">

</form>
