<%- include('../partials/header', {title:"Order"}) -%>

      <h1>Monday</h1>

      <table>
        <tr>
          <th>In</th>
          <th>Out</th>
        </tr>
        </table>

      <table>
        <tr>
          <th>Food</th>
          <th>Select</th>
          <th>Favorite</th>
        </tr>
        <tr>
          <td>Protein</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Starch</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Vegetable</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Pasta</td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h1>Tuesday</h1>

      <table>
        <tr>
          <th>In</th>
          <th>Out</th>
        </tr>
        </table>

      <table>
        <tr>
          <th>Food</th>
          <th>Select</th>
          <th>Favorite</th>
        </tr>
        <tr>
          <td>Protein</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Starch</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Vegetable</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Pasta</td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h1>Wednesday</h1>

      <table>
        <tr>
          <th>In</th>
          <th>Out</th>
        </tr>
        </table>

      <table>
        <tr>
          <th>Food</th>
          <th>Select</th>
          <th>Favorite</th>
        </tr>
        <tr>
          <td>Protein</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Starch</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Vegetable</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Pasta</td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h1>Thursday</h1>

      <table>
        <tr>
          <th>In</th>
          <th>Out</th>
        </tr>
        </table>

      <table>
        <tr>
          <th>Food</th>
          <th>Select</th>
          <th>Favorite</th>
        </tr>
        <tr>
          <td>Protein</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Starch</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Vegetable</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Pasta</td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h1>Friday</h1>

      <table>
        <tr>
          <th>In</th>
          <th>Out</th>
        </tr>
        </table>

      <table>
        <tr>
          <th>Food</th>
          <th>Select</th>
          <th>Favorite</th>
        </tr>
        <tr>
          <td>Protein</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Starch</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Vegetable</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Pasta</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </section>

</main><!-- End #main -->

<%- include('../partials/footer') -%>
